.container {
	max-width: 400px;
	margin: auto;
}

#game {
	width:400px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 2px	solid;
	background-color:silver;
	border-radius:25px;
}

.game-square {
	box-sizing:border-box;
	border:1px solid silver;
	width:100px;
	height:100px;
	position:relative;
	border-radius: 50%;
	overflow:hidden;
}

.game-square > div {
	width: 100%;
	height: 200%;
	position: absolute;
	top:0;
	transition: 400ms;
}

.game-square > div > div {
	height: 50%;
}

.game-square > div > div:first-child {
	background-color: gray;
}

.flip > div {
	top: -100%;
}

.square-0 {
  background-color: yellowgreen;
}

.square-1 {
  background-color: yellow;
}

.square-2 {
  background-color: wheat;
}

.square-3 {
  background-color: white;
}

.square-4 {
  background-color: violet;
}

.square-5 {
  background-color: turquoise;
}

.square-6 {
  background-color: tomato;
}

.square-7 {
  background-color: thistle;
}

.square-8 {
  background-color: teal;
}

.square-9 {
  background-color: tan;
}

.square-10 {
  background-color: steelblue;
}

.square-11 {
  background-color: springgreen;
}

.square-12 {
  background-color: slategray;
}

.square-13 {
  background-color: slateblue;
}

.square-14 {
  background-color: skyblue;
}

.square-15 {
  background-color: sienna;
}

.square-16 {
  background-color: seashell;
}

.square-17 {
  background-color: seagreen;
}

.square-18 {
  background-color: sandybrown;
}
